/*
Footer
*/

.bottom-nav-height {
  height:55px;
}

  /*
  Settings Modal
  */

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }

  /*
  DropUps
  */

  .socialmedia-container {
    padding-left: 10px;
  }

    .rounded-bottom-left {
      border-radius: 0rem 0rem 0rem .25rem;
    }

    .rounded-bottom-right {
      border-radius: 0rem 0rem .25rem 0rem;
    }

  /* .media-table-margin {
    margin-top:33px;
  } */

  .font-color {
    color: #495057;
  }

  .messages-container {
    height:250px;
    width:250px;
  }
