/*
Options NavBar
*/

.z-1035 {
  z-index: 1035 !important;
}

.top-nav-height {
  min-height:47px;
}

.top-nav-component-height {
  max-height: 35px;
}

.border-opaque {
  border-color: rgba(255, 255, 255, 0.35);
}

.border-opaque:focus {
  border-color: rgba(255, 255, 255, 1);
}

.resultsContainer {
  position: absolute;
  border-radius:5px;
  background: white;
  padding:5px;
  width:200px;
  left:67px;
  top:45px;
}

/*
Main NavBar
*/

.fixed-top-2nd {
  position:fixed;
  top:47px;
  min-height:58px;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-top:5px;
  margin-left:10px;
  margin-right:10px;
}

.header-nav-shadow {
  box-shadow: 0px 1px 15px -5px #888888;
}

.top-radius-rounded {
  border-radius:.25rem .25rem 0px 0px;
}

.vientos {
  height:24px;
  width:32px;
  padding-left: 13px;
}
