/*
Header
*/

.languageContainer {
  max-width: 60px;
  margin-left: calc(100% - 60px);
}

/*
Header End
*/

/*
Utilities
*/

  .prepend {
    border-radius: 8px 0px 0px 8px;
  }

  .postpend {
    border-radius: 0px 8px 8px 0px;
  }

/*
Utilities End
*/

.z-1035 {
  z-index: 1035 !important;
}

.top-nav-height {
  min-height:47px;
}

.top-nav-margin {
  padding:10px 10px 0px 10px;
  width: 100vw;
  background: #17a2b8;
  z-index: 1030;
}

.tempcss {
  padding-top:10px !important;
  padding-bottom:5px !important;
  padding:0;
  background: #17a2b8;
  top:0;
  width:calc(100vw - 20px);
}

.top-nav-component-height {
  max-height: 35px;
}

.border-opaque {
  border-color: rgba(255, 255, 255, 0.35);
}

.border-opaque:focus {
  border-color: rgba(255, 255, 255, 1);
}

.resultsContainer {
  width:200px;
  left:67px;
  top:45px;
}

/*
Main NavBar
*/

.fixed-top-2nd {
  position:fixed;
  top:57px;
  min-height:48px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-left:10px;
  margin-right:10px;
}

.fixed-to-top {
  position:fixed;
}

.header-nav-shadow {
  box-shadow: 0px 1px 15px -5px #888888;
}

.top-radius-rounded {
  border-radius:.25rem .25rem 0px 0px;
}

.vientos {
  height:24px;
  width:32px;
}

/*
Main NavBar - Left Side - Bars Menu
*/
.align-button-left {
  margin-left:-10px;
}

.align-button-right {
  margin-right:-10px;
}

.mt-77px {
  margin-top:77px;
}

.ml-neg25px {
  margin-left:-25px;
}