.vIcon {
  height: 40px;
  width: 40px;
}

.w-33 {
  width: 33.3%;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.overflow-scroll {
  overflow: scroll;
}

.h-hero-padded {
  height: calc(100% - 20px);
}

.z-995 {
  z-index: 995;
}

/*
100vh - topMargin - header - headerBottomMargin - bottomMargin - containerBorder - mapBottomBorder
*/

.border-bottom-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-bottom-transparent {
  border-bottom-color: transparent;
}

.min-w-150px {
  min-width: 150px;
}

.max-w-300px {
  max-width: 300px;
}

.modal {
  transform: translateY(-25vh);
}

.appMenu {
  transform: translateX(45vw);
}

  .w-45 {
    width: 45%;
  }

  .h-100-menus {
    height: calc(100vh - 20px - 2px);
  }

  .w-100-searchContainer {
    width: calc(100% - 50px);
  }
  
  .w-100-search {
    width: calc(100% - 10px);
  }
  
  .ml-neg45vw {
    margin-left: -45vw;
  }
  
  .mr-neg45vw {
    margin-right: -45vw;
  }

.userMenu {
  transform: translateX(-45vw);
}

  .userMenuButton {
    margin-left: calc(100% - 50px);
  }