/*
Options NavBar
*/

.z-1035 {
  z-index: 1035 !important;
}

.top-nav-height {
  min-height:42px;
}

.top-nav-component-height {
  max-height: 35px;
}

.border-opaque {
  border-color: rgba(255, 255, 255, 0.35);
}

.border-opaque:focus {
  border-color: rgba(255, 255, 255, 1);
}

/*
Main NavBar
*/

.fixed-top-2nd {
  position:fixed;
  top:42px;
  min-height:58px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.vientos {
  height:24px;
  width:32px;
}
